html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-image:url(../img/galaxy.jpg);
	/* is my hm ne ../ is ilye istimal kiya ha q k image perent folder me css folder l sath pari ha agar css folder k under pari hoti to single dot ka istamal karna ta */
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: #efb106 ;
}
p ,[for=abtype] {
	margin-bottom: 0;
	margin-top: 2rem;
}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}
fieldset{
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 2.5rem;
}
legend{
	font-weight: bold;
	font-size: 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	display: block;
}
label{
	display: block;
}
textarea{
	height: 10rem;
	padding: 1rem;
}
select{
	font-size: 1rem	;
}
button{
	font-size: 1.6rem;
	background-color: #bb342f;
	margin: 1.5rem 0;
	border: none;
	padding: 0 1rem;
	border-radius: 5px;
}
button:hover{
	background-color:black;
	color: #bb342f;

}
input:not([type="radio"]):not([type="checkbox"]) ,textarea ,select{
	display: block;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1rem;
	margin-bottom:2rem;
	padding:0 1rem;
    width: 20rem;
	border-radius: 10px;
	border: none;
}